<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/src/main/resources/static/style.css}">

<body>
	<div th:fragment="header_menu">
		<form th:action="@{/logout}" method="post" th:hidden="true" name="LogoutForm">
			<input type="submit" />
		</form>
		<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:rgb(255, 202, 104);">
			<a class="navbar-brand" th:href="@{/}" style="margin-left: 20px;">
				<img id="logoshop" th:src="@{/img/techstore3.png}" width="90px" height="90px">

			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="topNavbar">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" style="color: black; font-weight: bold;" href="#">Trang Chủ</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" style="color: black; font-weight: bold;" href="#">Sản Phẩm</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" style="color: black; font-weight: bold;" href="#">Liên Hệ</a>
					</li>
				</ul>
			</div>
			<div class="collapse navbar-collapse" id="navbarNav" style="margin-right: 20px;">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item">
						<a class="nav-link" style="color: black; font-weight: bold;" href="#">Đăng Nhập</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" style="color: black; font-weight: bold;" href="#">Đăng Ký</a>
					</li>
				</ul>
			</div>
			</ul>
	</div>
	</nav>
	</div>
	<div th:fragment="footer_menu" >
		<div class="container-fluid">
		<div class="row" style="background-color: black;color: white;">
			<div class="col-md-6">
				<h4 style="margin-left:20px;">TechStore</h4>
				<p style="margin-left:20px;">Cửa hàng công nghệ hàng đầu Việt Nam.</p>
			</div>
			<div class="col-md-6 text-md-center">
				<p style="margin-left: 110px;">&copy; 2023 TechStore. All rights reserved.</p>
				<a href="about-us.html" class="footer-link">Về chúng tôi</a>
				&nbsp;
				<a href="privacy-policy.html" class="footer-link">Thông báo bảo mật</a>
				&nbsp;
				<a href="return-policy.html" class="footer-link">Chính sách đổi trả</a>
			</div>
		</div>

	</div>
	</div>
	
</body>

</html>