<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="fragments :: page_head('Home - Shopme Admin','none')"/>

<body class="index-body">
	
		<div th:replace="navigation::menu"></div>
	
			<h1 class="index-h1">TechStore Admin</h1>
			Welcome 
			<a th:href="@{/account}" sec:authentication="principal.fullname" class="index-account-link"></a>
			<a  sec:authentication="principal.authorities" class="index-authorities-link"></a>
		</div>
	</div>
	<div th:replace="fragments::footer"></div>
	
	
	<script type="text/javascript">
		$(document).ready(function(){
			$("#LogoutLink").on("click",function(e){
				e.preventDefault();
				document.LogoutForm.submit();
			})
			 customizeDropdownMenu()
		});
		function customizeDropdownMenu(){
		$(".navbar .dropdown").hover(
			function(){
				$(this).find('.dropdown-menu').first().stop(true, true).delay(250).slideDown();
			},
			function(){
				$(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp();
			}
		);

		$(".dropdown > a").click(function(){
			location.href = this.href;
		});
	}
	</script>
</body>
</html>
