<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<head th:replace="fragments :: page_head(${pageTitle},'tag')" />
	<link th:href="@{/star-rating/css/star-rating.css}" media="all" rel="stylesheet" type="text/css" />
	<script th:src="@{/star-rating/js/star-rating.js}" type="text/javascript"></script>
	<link th:href="@{/star-rating/theme/krajee-svg/theme.css}" media="all" rel="stylesheet" type="text/css" />
	<script th:src="@{/star-rating/theme/krajee-svg/theme.js}"></script>
</head>
<meta charset="ISO-8859-1">
<title>Welcome to TechStore</title>
</head>

<body>

	<div th:replace="navigation::header_menu"></div>
	<th:block sec:authorize="isAuthenticated()">
		<form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
			<input type="submit" value="Logout" />
		</form>
	</th:block>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/}" style="font-weight: bold; color: rgb(255, 202, 104);">Tất
							cả</a>

					</li>
					<!-- Duyệt qua danh mục từ danh sách cat.name -->

					<div th:each="cat: ${listCategories}">
						<li class="nav-item" style="font-weight: bold;">
							<a class="nav-link" style="color: rgb(255, 202, 104);"
								th:href="@{'/category/'+${cat.alias}}" th:text="${cat.name}"></a>
						</li>
					</div>
				</ul>
			</div>
		</div>
	</nav>
	<div th:replace="breadcrumb::content"></div>
	<div class="row text-center">
		<th:block th:each="cat : ${category.children}">
			<div class="col" th:if="${cat.enabled ==true}" style="margin-top: 10px;">
				<a th:href="@{'/category/'+${cat.alias}}">
					<img th:src="@{${cat.imagePath}}" height="100" />
					<br />
					<b>[[${cat.name}]]</b>
				</a>
			</div>
		</th:block>
	</div>
	<div class="row">&nbsp;</div>
	<div class="container mt-4">
		<div class="row product-list">
			<th:block th:each="product : ${listProducts}">
				<div class="col-md-4">
					<div class="card">
						<a th:href="@{'/product/'+${product.alias}}">
							<img th:src="@{${product.mainImagePath}}" width="150px" height="300px" class="card-img-top"
								alt="[[${product.name}]]"></a>
						<div class="card-body" style="text-align: center;">
							<a th:href="@{'/product/'+${product.alias}}">
								<h5 class="card-title" th:text="${product.name}"></h5>
							</a>
							<div class="row ml-1">
								<div class="col">
									<input type="text" class="product-detail-rating-star" dir="ltr" data-size="md"
										th:value="${product.averageRating}" />
								</div>
							</div>
							<div class="row ml-1 ">
								<div class="col">
									<b>[[${product.reviewCount}]] lượt đánh giá</b>
								</div>
							</div>
							<div th:if="${product.discountPercent<=0}">
								<span>[[${product.price}]] triệu VND</span>
							</div>
							<div th:if="${product.discountPercent>0}">

								<del><span>[[${product.price}]] triệu VND</span></del>
								<div style="font-size: larger;color: darkred;">[[${product.discountPrice}]] triệu VND
								</div>
							</div>
							<a th:href="@{'/product/'+${product.alias}}" class="btn "
								style="text-align: center; background-color:rgb(255, 202, 104);">Thêm
								vào giỏ hàng</a>
						</div>
					</div>
				</div>
			</th:block>
		</div>
	</div>

	<div th:replace="fragments :: pagination('/category/' + ${category.alias} ,'product')"></div>
	<div th:replace="navigation :: register_form"></div>

	<div th:replace="navigation :: footer_menu" style="margin-top: 20px;"></div>
	<style>
		.card {
			height: 100%;
			/* Đặt chiều cao cố định cho tất cả các khối */
		}
	</style>
	<script>
		$(document).ready(function () {
			// Tự động bật carousel khi trang đã tải
			$('#slideshow').carousel();
			// Bắt đầu chạy slideshow tự động
			$('#slideshow').carousel('cycle');
		});
		$("#link-register").on("click", function (e) {
			e.preventDefault();
			linkDataURL = $(this).attr("href");
			console.log("Clicked on link-register");
			$("#registerModal").modal("show").find(".modal-content").load(linkDataURL);
		});
		$(".product-detail-rating-star").rating({
			displayOnly: true,
			hoverOnClera: false,
			showCaption: false,
			theme: 'krajee-svg'
		})
	</script>
</body>

</html>