<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="fragments :: page_head(${pageTitle},'none')" />

<body>
	<div th:replace="navigation::menu"></div>
	<div>
		<h2 style="text-align: center;">Manage Orders | [[${pageTitle}]]</h2>
	</div>
	<form th:action="@{/orders/save}" method="post" th:object="${order}" onsubmit="return checkUnique(this)
		" enctype="multipart/form-data">
		<input type="hidden" th:field="*{id}" />
		<div>
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item1">
					<a class="nav-link active" data-toggle="tab" href="#overview" role="tab">Overview</a>
				</li>
				<li class="nav-item1">
					<a class="nav-link" data-toggle="tab" href="#product" role="tab">Product</a>
				</li>
				<li class="nav-item1">
					<a class="nav-link" data-toggle="tab" href="#shipping" role="tab">Shipping</a>
				</li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div class="tab-pane active p-3" id="overview" role="tabpanel">
					<div class="form-group row p-1">
						<label class="col-sm-2 col-form-label">Order ID:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" th:field="${order.id}" th:readonly="true" />
						</div>
					</div>
					<div class="form-group row p-1">
						<label class="col-sm-2 col-form-label">First Name Customer:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" th:field="${order.customer.firstname}"
								th:readonly="true" />
						</div>
					</div>
					<div class="form-group row p-1">
						<label class="col-sm-2 col-form-label">Last Name Customer:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" th:field="${order.customer.lastname}"
								th:readonly="true" />
						</div>
					</div>
					<div class="form-group row p-1">
						<label class="col-sm-2 col-form-label">Address:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" th:value="${order.customer.address}"
								th:readonly="true" />
						</div>
					</div>
					<div class="form-group row p-1">
						<label class="col-sm-2 col-form-label">Total:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" th:value="${order.total}" th:readonly="true" />
						</div>
					</div>
					<div class="form-group row p-1">
						<label class="col-sm-2 col-form-label">Payment Method:</label>
						<div class="col-sm-10">
							<select th:field="*{paymentMethod}" class="form-control" required style="max-width: 150px;">
								<option th:each="pm : ${T(com.shopme.common.entity.PaymentMethod).values()}"
									th:value="${pm}" th:text="${pm}"></option>
							</select>
						</div>
					</div>



					<div class="form-group row p-1">
						<label class="col-sm-2 col-form-label">Status:</label>
						<div class="col-sm-10">
							<select th:field="*{orderStatus}" class="form-control" required style="max-width: 150px;">
								<option th:each="os : ${T(com.shopme.common.entity.OrderStatus).values()}"
									th:value="${os}" th:text="${os}"></option>
							</select>
						</div>
					</div>
				</div>
				<div class="tab-pane p-3" id="product" role="tabpanel">
					<th:block th:each="detail, status : ${order.orderDetails}">
						<div class="row border rounded mb-3 p-2" th:with="product=${detail.product}">
							<div class="col-1">[[${status.count}]]</div>
							<div class="col-3">
								<img th:src="@{${product.mainImagePath}}" width="100px" class="img-fluid"
									alt="Product Image" />
							</div>
							<div class="col-6">
								<!-- Add details about the product, e.g., item.product.name, item.product.price, etc. -->
								<div>
									<span><b>[[${product.name}]] </b> <span style="margin-left: 50px;">Quantity:
											[[${detail.quantity}]]</span></span>
								</div>
								<div>
									<div>
										<span th:if="${product.discountPercent <= 0}"><b>Price:</b>
											[[${product.price}]] triệu VND</span>
									</div>
									<div th:if="${product.discountPercent > 0}">
										<div>
											<b>Price:</b>[[${product.discountPrice}]] triệu VND
										</div>
										(Giảm [[${product.discountPercent}]]%)
									</div>
								</div>
							</div>
						</div>
					</th:block>
				</div>
				<div class="tab-pane p-3" id="shipping" role="tabpanel">
					<div class="form-group row p-1">
						<label class="col-sm-2 col-form-label">Deliver day:</label>
						<div class="col-sm-10">
							<input type="number" step="1" class="form-control" th:field="${order.deliverDays}" />
						</div>
					</div>
					<div class="form-group row p-1">
						<label class="col-sm-2 col-form-label">Expected Deliver day:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control"
								th:value="${#dates.format(order.deliverDate, 'E, dd MMM yyyy')}" readonly />
						</div>
					</div>
				</div>

			</div>
			<div class="text-center">
				<input type="submit" value="Save" class="btn btn-primary m-3" />
				<input type="submit" value="Cancel" class="btn btn-secondary" id="buttonCancel" />
			</div>
	</form>
	<div th:replace="fragments::footer"></div>

	<script>
		$('#myTab a').on('click', function (e) {
			e.preventDefault()
			$(this).tab('show')
		})
	</script>
</body>

</html>